<h1>thnk u</h1>
  <table>
  <tr>
    <th>First Name</th>
    <td>{{classObj.fname}}</td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td>{{classObj.lname}}</td>
  </tr>
  <tr>
    <th>Gender</th>
    <td>{{classObj.gender}}</td>
  </tr>
  <tr>
    <th>Contact No</th>
    <td>{{classObj.contactNo}}</td>
  </tr>
  <tr>
    <th>Password</th>
    <td><input type="{{type}}" disabled value="{{classObj.password}}"/><i (click)="showHidePassword()" class="far fa-eye"></i></td>  
  </tr>
  <tr>
    <th>Confirm Password</th>
    <td><input type="{{type}}" disabled value="{{classObj.confirmPassword}}"/></td>  
  </tr>
  <tr>
    <th>Employee ID</th>
    <td>{{classObj.empId}}</td>
  </tr>
  <tr>
    
</table>
<button (click)="editForm()">Edit Form</button>